page-invalid-login {
    .bg-image1{
        background-image: url('../assets/imgs/Tunnel_0bright.jpg');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .bg-image2{
        background-image: url('../assets/imgs/Tunnel_1bright.jpg');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }


    .bg-image3{
        background-image: url('../assets/imgs/Tunnel_2bright.jpg');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }


    .bg-image4{
        background-image: url('../assets/imgs/Tunnel_3bright.jpg');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
