page-score-board {
    .bg-imageWin{
        background-image: url('../assets/imgs/escapeWin.jpg');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .bg-imageLose{
        background-image: url('../assets/imgs/escapeLose.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}