<!--
  Generated template for the DisplayDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>displayData</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-item text-wrap >
Hi {{userName}}! You have {{userSteps}} steps today. 
<button ion-button item-right (click)="showAllGames()"  >{{allGameButtonText}}</button>
</ion-item>

<!-- INVITED GAMES -->
<ion-item *ngIf="GameInviteHeader.length>0 ">
  {{GameInviteHeader}}
  <!--  INVITED ACCEPTED GAMES -->
  <ion-list >
      <ion-item *ngFor="let invite of invitedAcceptedGames;let i = index "(click)="openGameDetails(1,i)">{{invite}} 
        </ion-item>
  </ion-list>
   <!-- OTHER INVITED GAMES -->
  <ion-list>
    <ion-item *ngFor="let invite of invitedGames;let i = index" (click)="openGameDetails(2,i)">{{invite}} 
      <button ion-button item-right (click)="acceptInvite(invite,i);$event.stopPropagation();"  >Accept</button>
      <button ion-button item-right (click)="DeclineInvite(invite,i);$event.stopPropagation();"  >Decline</button>    
    </ion-item>
  </ion-list>
</ion-item>

<!-- ACTIVE/READYTOPLAY GAMES -->


<ion-item *ngIf="GameActiveHeader.length>0">
{{GameActiveHeader}}
<!-- READY TO PLAY GAMES -->
<ion-list>
    <ion-item *ngFor="let readyToPlayGame of ReadyToPlayList; let i= index" (click)="openGameDetails(3,i)">{{readyToPlayGame}}</ion-item>
</ion-list>
<ion-list>

  <!-- ACTIVE GAMES -->
  <ion-item *ngFor="let activeGame of activeGamesList; let i= index" (click)="openGameDetails(4,i)">{{activeGame}}
    <label ion-label item-right text-wrap >{{displayTimeList[i]}}</label>
  </ion-item>
</ion-list>
</ion-item>


<!-- FINISHED GAMES -->
<ion-list *ngIf="showallGames">
  {{gameOverHeader}}
    <ion-item *ngFor = "let finishGame of gameOverPlayersList;let i=index">{{finishGame}}
        <label ion-label item-right text-wrap>{{gameOverMyStatusList[i]}}</label>
      </ion-item>
</ion-list>



<button ion-button icon-only (click)="hotPotatoGame()" >
  Hot Potato
    <ion-icon name="add"></ion-icon>
    
</button>




<div>
    <h6 align="center" >Not {{userName}}?</h6>
</div>
 
<button ion-button full (click)="Logout()">Logout</button>
</ion-content>
